{% extends 'base.html' %}

{% block content %}
<h1>BIENVENIDO A NUESTRO SITIO DE NOTICIAS WEB</h1>

<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div style="margin-bottom: 20px; font-family: Arial, Helvetica, sans-serif;">
        {{ form.titulo.label }} 
        {{ form.titulo(style='width: 100%; padding: 10px; border: 2px solid #ccc; border-radius: 5px; box-sizing: border-box;') }}
    </div>
    <div style="margin-bottom: 20px; font-family: Arial, Helvetica, sans-serif;">
        {{ form.descripcion.label }} 
        {{ form.descripcion(style='width: 100%; padding: 10px; border: 2px solid #ccc; border-radius: 5px; box-sizing: border-box;')}}
    </div>
    <div style="margin-bottom: 20px; font-family: Arial, Helvetica, sans-serif;">
        {{ form.categoria.label }} {{ form.categoria(style='width: 100%; padding: 10px; border: 2px solid #ccc; border-radius: 5px; box-sizing: border-box; ') }}
    </div>
    <br>
    <div>
        {{ form.label }} {{ form.contenido() }}
    </div>
    <br>

    <div >
        {{ form.submit(style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;") }}
    </div>
    <script>
        CKEDITOR.replace('contenido', {
            filebrowserImageUploadUrl: '{{ url_for("upload_file", _external=True) }}'
        });
    </script>
    
</form>

{{ ckeditor.load() }}
{{ ckeditor.config(name='contenido') }}

<h1>Noticias</h1>
<ul>
{% for item in titulos %}
    <li>
        <a href="{{ url_for('noticia', id=item[0]) }}">
            <h2>{{ item[1] }}</h2>
        </a>
    </li>
{% endfor %}
</ul>
<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
{% endblock %}

